
@model WebApplication1Day11Demo.Models.UserViewModel
@{

    // data binding
}
<p> This is profiles page under student controller</p>
<h2>User profiles</h2>
<p>user ID:@Model.Id</p>
<p>user name:@Model.Name</p>
<p>User Age:@Model.Age</p>