@model WebApplication1Day11Demo.Models.Product

<p>this details page from Product controller</p>
<p>the product details</p>
<p>product ID:@Model.Id</p>
<p>product Name:@Model.Name</p>
<p>Product price:@Model.Price</p>